@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {


    :root {
        --color-primary: #ffffff;
        --color-secondary: #353535;

    }


    body {
        background-color: var(--color-tertiary);
        color: var(--color-secondary);
    }

}